/* Using the Coolors website made it really easy to find nice complementing colors.
*/

h1 {
font-family: Baskerville, serif;
text-align: center;
color: #E7998D;
font-size: 50px;
}

h2 {
font-family: Courier;
text-align: center;
color: #7C7C7C;
}

h3 {
font-family: Courier;
text-align: center;
color: #BB3925;
}

.light-background {
  background-color: #F2EDEB;
}

.dark-background {
  background-color: #2B303A;
}

.wrapper {
  width: 700px;
  margin: auto;
}

.text-centered {
  text-align: center;
}

nav {
  text-align: center;
  color: #F2EDEB;
  font-family: Tahoma;
  font-size: 15px;
}

a {
  font-family: Courier;
  font-size: 20px;
  float: center;
}

a:link    { color: rgb(14, 248, 229);  }
a:visited { color: #474747;   }
a:hover   { color: blue; }
a:active  { color: rgb(253, 249, 0);  }

/* Remembering I could group Selectors really helped save time, cant imagine how helpful that may be on a much larger project
*/

ul, ol {
    text-align: center;
    list-style-position: inside;
}

li, p {
  font-family: monospace;
float: center;
text-align: center;
color: #474747;
}

hr {
  height: 2px;
  background-color:#BB3925;
  border: 2px solid #2B303A;
}

div {
    padding-top: 20px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
